doctype html
html
  meta(charset="utf-8")
  title Interrupt
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous")
  link(href="https://fonts.googleapis.com/css?family=Merriweather|Source+Sans+Pro|Mate|Offside|Raleway:400,700" rel="stylesheet" type="text/css")
  link(href="https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy")
  link(rel="stylesheet" type="text/css" href="css/redux.css")
  // link(rel="stylesheet" type="text/css" href="css/ascetic.css")
  // link(rel="stylesheet" type="text/css" href="https://cloud.typography.com/7892692/6030832/css/fonts.css")
  link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata")
body
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.4.1/styles/tomorrow-night.min.css" integrity="sha512-Ly91v1PH9MuXZoEzAV762yfHfn7sAaUHOrv5a3d27/Pk6trrRcEJTXQrU3lgxC/v4+CzRqAK68hnHnDx2agvng==" crossorigin="anonymous")
  a(href="https://github.com/bigeasy/interrupt/"): img(style="position: fixed; top: 0; left: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_gray_6d6d6d.png" alt="Fork me on GitHub")
  div(class="container")
    div(class="unit welcome")
      h1 Interrupt
      // todo: code font is too small for body text font
    div(class="unit description markdown include" data-file="index.md")
  // todo: move into an edify plugin
  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-20388260-3', 'bigeasy.github.io');
    ga('send', 'pageview');
// vim: set ts=2 sw=2 nowrap:
